<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "My profile", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to "My favorites", favorites_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My Cvs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My calendar</a>
  </li>
</ul>
<% @favorites.each do |favorite| %>
<ul>
<li class ="mt-5">
<p>Job position: <%= favorite.job.position %></p>
<p>Job description: <%= favorite.job.description %></p>
<p>Salary: <%= favorite.job.salary%> Euro per month</p>
</li>
</ul>
<% end %>
