<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "My profile", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to "My favorites", favorites_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "My CVs", cvs_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My calendar</a>
  </li>
</ul>
<div class="cards main-container">
<div class="py-5 mb-5">
  <div class="row justify-content-center">
<% @favorites.each do |favorite| %>
  <div class="col-12 col-lg-3">
    <div class="card box-shadow my-3">
    <%= image_tag "#{favorite.job.level}.jpg", class: "card-img-top", height: 200%>
      <div class="card-body">
      <div class="row">
      <div class="col-6">
        <%= link_to "Apply", chatrooms_path, class: "card-button mb-3", style: "width: 100px" %>
      </div>
      <div class="col-6">
        <%= link_to "Delete", favorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "card-button mb-3", style: "width: 100px" %>
        </div>
      </div>
        <h5 class="card-title"><%= favorite.job.position %></h5>
        <p class="card-text">Salary: <%= favorite.job.salary %> Euro</p>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,256L48,256C96,256,192,256,288,245.3C384,235,480,213,576,181.3C672,149,768,107,864,112C960,117,1056,171,1152,186.7C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
      <a href=""><i class="fas fa-euro-sign euro-icon"></i></a>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
