<div class="container customize-container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "My profile", dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to "My favorites", favorites_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "My CVs", cvs_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "My calendar", calendar_path, class: "nav-link" %>
  </li>
</ul>
<div class="cards main-container">
<div class="py-5 mb-5">
  <div class="row justify-content-center">
<% @favorites.each do |favorite| %>
  <div class="col-12 col-lg-3">
    <div class="card box-shadow my-3">
    <%#= image_tag "#{favorite.job.level}.jpg", class: "card-img-top", height: 200%>
      <div class="card-body">
      <div class="row">
      <div class="col-8">
       <strong> <p class="card-title"><i class="fa-solid fa-user-large"></i> <%= favorite.job.position %></p></strong>
       </div>
       <div class="col-4">
        <p class="card-title"><i class="fa-solid fa-location-dot"></i> Berlin</p>
        </div>
        <p class="card-title"> <i class="fa-solid fa-hand-holding-dollar"></i> <%= favorite.job.salary %> </p>
        <p class="card-title"> <i class="fas fa-reply-all"></i> <%= favorite.job.level %> </p>
        <%= image_tag "#{favorite.job.level}.png", class: "card-img-top", height: 200%>
      <div class="row">
      <div class="col-6">
        <%#= link_to "Apply", chatrooms_path, class: "card-button mb-3 mx-2", style: "width: 100px" %>
          <%= button_to "Apply", job_job_applications_path(favorite.job), method: :post, class: "card-button mb-3 mx-", style: "width: 100px;" %>
      </div>
      <div class="col-6">
        <%= link_to "Delete", favorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "card-button mb-3 mx-3", style: "width: 100px" %>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
