<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="messages"
  data-chatroom-subscription-target="messages"
  >
  <% if current_user.first_name == @chatroom.employer_name %>
  <h1 style="text-align: center;"> Chatroom with # <%= @chatroom.applicant_name %></h1>
  <% else %>
  <h1 style="text-align: center;"> Chatroom with # <%= @chatroom.employer_name %></h1>
  <% end %>
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
        </div>
      <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
   html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }} do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message here..."%>
    <%= f.submit "Send", class: "search-button" %>
  <% end %>
</div>
