	<div class="login-signup-form-container">
  <div class="login-signup-form-header">
      <%= image_tag "logo2.jpg"  %>
      <h2>Job Position</h2>
  </div>
  <div class="login-signup-inputs">
        <%= simple_form_for @job do |f| %>
          <%= f.input :position, placeholder: 'Job position' %>
          <%= f.input :description, placeholder: 'Job description' %>
          <%= f.input :salary, placeholder: 'Salary for the position' %>
          <%= f.input :level, collection: [ 'IT', 'Medicine', 'Service', 'Design' ], :prompt => 'Select your industry' %>
          <%= f.input :address, placeholder: 'Job location' %>
  </div>

            <%= f.submit class: 'login-signup-submit', style:"width: 100%" %>
        <% end %>
</div>
