<div class="container mt-5">
<%= form_with url: jobs_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control input",
    placeholder: "Looking for the job...", class: "input"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<div class="banner">
<h1>Traum job</h1>
<h3>Our goal is to make your job searchan inspiring process and not an anslaving one</h3>
</div>
<div class="cards">
<% @jobs.each do |job|%>
<p>Title: <%= job.position %></p>
<p>Level: <%= job.level %></p>
<p>Address: <%= job.address %></p>
<p>Salary: <%= job.salary %> Euro</p>
  <%= link_to "See details", job %>
<% end %>
</div>
</div>
