<div class="main-container">
<div class="search-body">
<div class="search-container">
<%= form_with url: jobs_path, method: :get, class: "d-flex ", style: "width:100%" do %>
<button type="submit" class="search-btn" style="margin-left: 5px">
  <i class="fas fa-search"> </i>
</button>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control input",
    placeholder: " Looking for the job...", class: "search-input",
    style: "width:100%"
  %>
<% end %>
  </div>
</div>
<div class="cards">
<div class="py-3 mb-5">
  <div class="row justify-content-center">
<% @jobs.each do |job|%>
  <div class="col-12 col-lg-3">
    <div class="card box-shadow my-5">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <strong><p class="card-title mb-3"><i class="fa-solid fa-user-large"></i> <%= job.position %></p></strong>
          </div>
          <div class="col-3">
            <p class="card-title"><i class="fa-solid fa-location-dot"></i> Berlin</p>
          </div>
        </div>
        <p class="card-title"> <i class="fa-solid fa-hand-holding-dollar"></i>  <%= job.salary %> € </p>
        <p class="card-title"> <i class="fas fa-reply-all"></i> <%= job.level %> </p>
          <%= image_tag "#{job.level}.png", class: "card-img-top", height: 200%>
            <p class="card-title"> <i class="fa-solid fa-building"></i> <span style="background-color: yellow;"><%= job.user.nickname %> </span>  </p>
          <div class="application-block">
          <%= link_to job_path(job), class: "card-button" do %>
            <i class="fa-solid fa-magnifying-glass"></i> See details
          <% end %>
          <% unless job.job_applications.find_by(user: current_user).nil? %>
            <div class="applied-icon applied-small">
              <p class="clean">Applied</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
