
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1><i class="fa-solid fa-user-large"></i> <strong><%= @job.position %></strong></h1>

    <p>
      <i class="fa-solid fa-hand-holding-dollar"></i> <%= @job.salary %> <i class="fa-solid fa-euro-sign"></i>
      <br>
      <i class="fa-solid fa-location-dot"></i> <%= @job.address %>
      <br>
      <i class="fa-solid fa-suitcase"></i> <%= @job.level %>
      <br>
      <i class="fa-solid fa-user-doctor"></i> <%= @job.description %>
      <br>
    </p>
    <div class="d-flex">
      <div class="application-block">
        <% if  current_user&.job_seeker %>
          <% if @job.job_applications.find_by(user: current_user).nil? %>
            <%= button_to "Apply for this job", job_job_applications_path(@job), method: :post, class: "card-button mx-5", style: "width: 200px;" %>
          <% else %>
            <div class="d-flex">
              <%= link_to "DM HR manager", job_application_chatrooms_path(@job_application), class: "button-neutral", style: "width: 200px; line-height: 35px;", data: {turbo_method: :post} %>
              <div class="applied-icon">
                <span>Applied</span>
              </div>
            </div>
          <% end %>
          <% if @check_favorite %>
            <%= link_to(favorite_path(@check_favorite),  data: {turbo_method: :delete}) do %>
              <div class="favorite-icon"><i class="fa-solid fa-heart fa-2x"></i></div>
            <% end %>
          <% else %>
            <%= link_to(job_favorites_path(@job), data: {turbo_method: :post}) do %>
              <div class="favorite-icon"><i class="fa-regular fa-heart fa-2x"></i></div>
            <% end %>
          <% end %>
        </div>
      <% elsif !current_user&.job_seeker %>
        <%= link_to "Back to my profile", employer_profile_path, class: "button-neutral", style: "width: 200px;"  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "card-button", style: "width: 200px;"  %>
        <%= link_to "Sign Up", new_user_registration_path, class: "card-button mx-5", style: "width: 200px;"  %>
      <% end %>
    </div>
  </div>
</div>
