
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1><i class="fa-solid fa-user-large"></i> <strong><%= @job.position %></strong></h1>

    <p>
         <i class="fa-solid fa-hand-holding-dollar"></i> <%= @job.salary %> <i class="fa-solid fa-euro-sign"></i>
        <br>
        <i class="fa-solid fa-location-dot"></i> <%= @job.address %>
        <br>
        <i class="fa-solid fa-suitcase"></i> <%= @job.level %>
        <br>
        <i class="fa-solid fa-user-doctor"></i> <%= @job.description %>
        <br>
    </p>
    <div class="d-flex">
      <% if   current_user.present? %>
        <%= link_to "Apply for this job", job_applications_path(@job.id), method: :post, class: "card-button mx-5", style: "width: 200px;" %>
        <% if @check_favorite %>
        <%= link_to(favorite_path(@check_favorite),  data: {turbo_method: :delete}) do %>
          <div class="favorite-icon"><i class="fa-solid fa-heart fa-2x"></i></div>
        <% end %>
        <% else %>
               <%#= button_to "Save this job", job_favorites_path(@job), method: :post, class: "card-button mx-5", style: "width: 200px;" %>
        <%= link_to(job_favorites_path(@job), data: {turbo_method: :post}) do %>
          <div class="favorite-icon"><i class="fa-regular fa-heart fa-2x"></i></div>
        <% end %>
        <% end %>
      <% elsif current_user.present? && current_user.job_seeker == false %>
        <%= link_to "Back to my profile", employer_profile_path, class: "card-button", style: "width: 200px;"  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "card-button", style: "width: 200px;"  %>
        <%= link_to "Sign Up", new_user_registration_path, class: "card-button mx-5", style: "width: 200px;"  %>
      <% end %>
    </div>
  </div>
</div>
