
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1>Position: <strong><%= @job.position %></strong></h1>
    <p>
        Salary: <%= @job.salary %> Euro
        <br>
        Address: <%= @job.address %>
        <br>
        Field: <%= @job.level %>
        <br>
        Description: <%= @job.description %>
        <br>
    </p>
    <div class="d-flex">
      <%= button_to "Apply for this job", job_job_applications_path(@job), method: :post, class: "card-button", style: "width: 200px;" %>
      <%= button_to "Save this job", job_favorites_path(@job), method: :post, class: "card-button mx-5", style: "width: 200px;" %>
    </div>
  </div>
</div>
