<h1>This is job show page</h1>
<%= @job.salary %>
<%= @job.position %>
<%= @job.address %>
<%= @job.level %>
<%= @job.description %>
<%= button_to "Save this job to favorites", job_favorites_path(@job), method: :post %>
<%# link_to "Apply for this job", job %>
