<h1>This is job show page</h1>
<%= @job.salary %>
<%= @job.position %>
<%= @job.address %>
<%= @job.level %>
<%= @job.jobdescription %>
<%= link_to "Save this job to favorites", @favorite %>
<%# link_to "Apply for this job", job %>
