<div class="container customize-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My posts", my_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pending job applications", job_applications_path, class: "nav-link  active" %>
    </li>
    <li class="nav-item">
      <%= link_to "My calendar", employer_calendar_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="cards main-container">
    <div class="py-5 mb-5">
      <h1>My Pending Job Applications</h1>
        <div class="row justify-content-center">
          <% @my_applications.each do |application| %>
          <% job_application = JobApplication.find_by(job_id: application.id) %>
            <div class="col-12 col-lg-3">
              <div class="card employer-card-box-shadow my-3">
                <%= image_tag "#{application.level}.png", class: "card-img-top", height: 200 %>
                <div class="card-body">
                  <div class="row">
                  <h5 class="card-title", style="text-align: center; margin-bottom: 15px;" ><b><%= application.position %></b></h5>
                  <p class="card-title"> <i class="fa-solid fa-hand-holding-dollar"></i>  <%= application.salary %> €</p>
                  <p class="card-title"> <i class="fa-solid fa-location-dot"></i>  <%= application.address %> </p>
                  <p class="card-text", style="margin-top: 10px; text-align: center; font-size: 18px;"><b><%= job_application.user.first_name %> <%= job_application.user.last_name %></b> wants to apply</p>
                  <p class="card-text", style="text-align: center; font-size: 18px;">
                    The request is:  <br>
                    <span style="background-color: yellow; font-size: 18px; font-weight: bold;"><%= job_application.status.upcase %></span> <br>
                    </p>
                    <% if job_application.pending? %>
                    <div class="col-6 ">
                      <%= link_to "Accept", accept_path(job_application.id), class: "button-success mb-3", style: "width: 120px" %>
                    </div>
                    <div class="col-6">
                      <%= link_to "Decline", decline_path(job_application.id), class: "button-wrong mb-3", style: "width: 120px" %>
                    </div>
                  <p class="card-text", style="text-align: center; font-size: 18px;"><b><%= link_to "See #{job_application.user.first_name} profile", candidate_path(job_application.user.id) %></b></p>
                    <% elsif job_application.accepted? %>
                    <div class="col-6">
                      <%= link_to "Make an appointment", new_job_appointment_path(application.id), class: "button-neutral mb-3", style: "width: 258px" %>
                    </div>
                    <p class="card-text", style="text-align: center;"><b><%= link_to "Decline", decline_path(job_application.id) %></b></p>
                    <% end %>
                    </div>
                  </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
