<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My posts", my_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pending job applications", job_applications_path, class: "nav-link  active" %>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My calendar</a>
    </li>
  </ul>
<div class="cards main-container">
  <div class="py-5 mb-5">
    <h1>My Pending Job Applications</h1>
      <div class="row justify-content-center">
        <% @my_applications.each do |application| %>
          <% job_application = JobApplication.find_by(job_id: application.id) %>
          <%= application.position %>
          <%= job_application.status %>
          <% if job_application.pending? %>
            <%= link_to "accepted", accept_path(job_application.id) %>
          <% elsif job_application.accepted? %>
            <%= link_to "declined", decline_path(job_application.id) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
