<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1>Position: <strong><%= @job.position %></strong></h1>
    <p>
        Salary: <%= @job.salary %> Euro
        <br>
        Address: <%= @job.address %>
        <br>
        Field: <%= @job.level %>
        <br>
        Description: <%= @job.description %>
        <br>
    </p>
    <div class="d-flex">
      <%= link_to "Send message to employer", chatroom_path(@chatroom), class: "card-button mt-5", style: "width: 300px" %>
    </div>
  </div>
</div>
