<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1><i class="fa-solid fa-user-large"></i> <strong><%= @job.position %></strong></h1>
    <p>
         <i class="fa-solid fa-hand-holding-dollar"></i> <%= @job.salary %> <i class="fa-solid fa-euro-sign"></i>
        <br>
        <i class="fa-solid fa-location-dot"></i> <%= @job.address %>
        <br>
        <i class="fa-solid fa-suitcase"></i> <%= @job.level %>
        <br>
        <i class="fa-solid fa-user-doctor"></i> <%= @job.description %>
        <br>
    </p>
    <div class="d-flex">
      <%= link_to "Send message to employer", chatroom_path(@chatroom), class: "card-button mt-5", style: "width: 200px" %>
      <%= link_to "Apply for appointment", new_job_appointment_path(@job), class: "card-button mx-5 mt-5", style: "width: 200px" %>
    </div>
  </div>
</div>
