<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?work);">
  <div class="container">
    <h1><i class="fa-solid fa-user-large"></i> <strong><%= @job.position %></strong></h1>
    <p>
         <i class="fa-solid fa-hand-holding-dollar"></i> <%= @job.salary %> <i class="fa-solid fa-euro-sign"></i>
        <br>
        <i class="fa-solid fa-location-dot"></i> <%= @job.address %>
        <br>
        <i class="fa-solid fa-suitcase"></i> <%= @job.level %>
        <br>
        <i class="fa-solid fa-user-doctor"></i> <%= @job.description %>
        <br>
    </p>
    <div class="d-flex">
      <%= link_to "DM HR manager", chatroom_path(@chatroom), class: "button-neutral", style: "width: 200px; line-height: 35px;" %>
      <div class="flash flash-success alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 you successfully applied for the job!</span>
        <a data-bs-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</div>
