<h1>This is show page</h1>
<div style="height:200px; background-image: url('<%= cl_image_path @user.avatar.key if @user.avatar.key %>')"></div>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<p><%= @user.profile_description %></p>
<div><%= @user.cvs %></div>
