<h1>This is show page</h1>
<%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<p><%= @user.profile_description %></p>
<% @user.cvs.each do |cv| %>
<div>
<%= cv.url %>
    <iframe src="<%= cv.url %>" width="50%" height="710"></iframe>
</div>
<% end %>
