<div class="main-container">
<!--Search bar-->
<div class="search-body">
  <div class="search-container">
    <%= form_with url: candidates_path, method: :get, class: "d-flex ", style: "width:100%" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control input",
        placeholder: "Looking for candidates...", class: "search-input",
        style: "width:100%"
      %>
<button type="submit" class="search-btn" style="margin-left: 5px">
  <i class="fas fa-search"></i>
</button>
    <% end %>
  </div>
  </div>
  <!--User cards-->
  <div class="candidates-container">
    <% @users.each do |user|%>
    <div class="candidate-card">
      <%= image_tag "Male_avatar.png", class: "candidate-card-avatar" %>
        <div class="candidate-card-details">
          <h2 style="margin-bottom: 15px;"><%= user.first_name %> <%= user.last_name %></h2>
            <p><i class="fas fa-briefcase"></i>  <span style="background-color: yellow;"><%= user.profesion %></span></p>
            <p style="margin-bottom: 0rem;"><i class="fas fa-map-marker-alt"></i>  <%= user.location %></p>
            <%= link_to "Open to work", candidate_path(user.id), class: "candidate-card-btn"%>
        </div>
      </div>
    <% end %>
    </div>
</div>
