<div class="main-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "My messages", chatrooms_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My calendar</a>
    </li>
  </ul>
  <div class="employer-profile">
    <div class="row">
      <div class="col-6">
        <%= cl_image_tag current_user.avatar.key, style:"width:400px; height:400px; object-fit:cover;", class: "avatar dropdown-toggle mt-5 mb-5  ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
      <div class="col-6 mt-5 mb-5">
        <div class="employer-content">
          <h1>I'm <%= current_user.first_name %> <%=current_user.last_name %></h1>
          <h3>About my company: </h3>
          <p style="font-size: 20px;"><%= current_user.profile_description %></p>
            <div class="employer-btn">
              <%= link_to "My pending job applications", job_applications_path %>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
