<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "My posts", my_posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Job applications", job_applications_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My calendar", employer_calendar_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="user-profile">
    <div class="row">
      <div class="col-6">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, style:"width:400px; height:400px; object-fit:cover;", class: "avatar dropdown-toggle mt-5 mb-5  ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "/home/trinidad/code/trinidadcerri/TraumArbeit/app/assets/images/Male_avatar.png", style:"width:400px; height:400px; object-fit:cover;", class: "avatar dropdown-toggle mt-5 mb-5  ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
      <% end %>
      </div>
      <div class="col-6 mt-5 mb-5">
        <div class="content" style="margin-top:20px; text-align: center;">
          <h1><b><%= current_user.nickname %></b></h1>
            <div class="profile-description" style="margin-top: 80px; text-align: center;">
              <h3>About <b>the company: </b></h3>
              <p style="font-size: 20px;"><%= current_user.profile_description %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
