<!-- Homepage inspo: https://mobirise.com/extensions/levelm4/agency/ -->

<!-- Banner -->
<section class="banner-image banner-background" style="z-index: 0; background-image: url(<%= asset_path 'homepage-portfolio.jpg' %>); position: relative;">
  <div class="container align-left">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h1 class="h1-style display-2">Traumjob</h1>
        <p class= "p-style">
          Our goal is to make your search <br>
          an inspiring process <br>
          and not an enslaving one. <br>
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Feature 2: Options -- find a: JOB / CANDIDATE -->
<div>
    <h3>What do you want to do?</h3>
    <%= link_to "Find a Job", jobs_path %>
    <%= link_to "Find a Candidate", candidates_path %>
</div>

<div class="options-container">
  <div class="options_box">
    <%= link_to(jobs_path) do %>
    <div class="options_item">
      <div class="options-item_link">
        <div class="options-item_bg"></div>

        <div class="options-item_title">
          Find a Job Position
        </div>

        <div class="options-clic-box">
          See more
          <span class="options-clic">
            details..
          </span>
        </div>
      </div>
    </div>
  <% end %>

    <div class="options_item">
      <a href="#" class="options-item_link">
        <div class="options-item_bg"></div>

        <div class="options-item_title">
          Find a Candidate
        </div>

        <div class="options-clic-box">
          Clic
          <span class="options-clic">
            Here
          </span>
        </div>
      </a>
    </div>

  </div>
</div>


<!-- Feature 3: Carrousel -->
<div class="dream-job-picture">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_url("dream_job.jpg") %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("dream_job2.jpg")%>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("dream_job3.jpg") %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<!-- Feature 4: The team 1 -->
