<h1>Traum Arbeit</h1>
<h3>This is the Home Page</h3>


  <div>
    <h3>What do you want to do?</h3>
    <%= link_to "Find a Job", jobs_path %>
    <%= link_to "Find a Candidate", candidates_path %>
  </div>
<div class="dream-job-picture">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_url("dream_job.jpg") %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("dream_job2")%>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("dream_job3") %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
