<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "My profile", employer_profile_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My posts", my_posts_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pending job applications", job_applications_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My calendar", employer_calendar_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="cards main-container">
    <div class="py-5 mb-5">
      <h1>My posted jobs</h1>
      <div class="row justify-content-center">
        <% current_user.jobs.each do |job| %>
          <div class="col-12 col-lg-3">
              <div class="card box-shadow my-3">
              <%= image_tag "#{job.level}.png", class: "card-img-top", height: 200 %>
                <div class="card-body">
                  <h5 class="card-title", style="text-align: center;" ><b><%= job.position %></b></h5>
                    <p class="card-title"> <i class="fa-solid fa-hand-holding-dollar"></i>  <%= job.salary %> </p>
                    <p class="card-title"><i class="fa-solid fa-location-dot"></i> Berlin</p>
                    <p class="card-title"> <i class="fas fa-reply-all"></i> <%= job.level %> </p>
                  <div class="row">
                    <div class="col-6">
                      <%= link_to "Show", job_path(job), class: "button-success mb-3", style: "width: 100px" %>
                    </div>
                    <div class="col-6">
                      <%= link_to "Edit", edit_job_path(job), class: "button-neutral mb-3", style: "width: 100px" %>
                    </div>
                    <div class="col-6">
                      <%= link_to "Delete", job_path(job), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "button-wrong mb-3", style: "width: 100px" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
