<!DOCTYPE html>
<html>
  <head>
    <title>TraumArbeit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>

  </head>

  <body>
  <% if @homepage == false %>
  <%= render "shared/navbar" %>
    <div class="page-container">
      <div class="container">
        <div style="margin-top: 100px; margin-bottom: 50px;">
          <main id="main-content">
            <%= yield %>
          </main>
        </div>
        <%= render "shared/flashes" %>
      </div>
    <%= render "shared/footer" %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  </body>
</html>
